.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff6aa8;
  }
  
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
p {
    font-size: 18px;
    margin-bottom: 5px;
}